name: Runlet backend CI

on:
  pull_request:
    branches:
      - develop

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Go ${{ matrix.go-version }}
        uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go-version }}

      - uses: golangci/golangci-lint-action@v7
        with:
          version: v2.4.0

  test:
    runs-on: ubuntu-latest
    needs: lint
    strategy:
      matrix:
        go-version: [ '1.24.5' ]

    steps:
      - uses: actions/checkout@v4

      - name: Setup Go ${{ matrix.go-version }}
        uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go-version }}

      - name: Setup env
        run: | 
          echo "SECRET_KEY=${{ secrets.SECRET_KEY }}" > build/test/.env
          echo "JWT_TOKEN_EXPIRE_TIME=${{ vars.JWT_TOKEN_EXPIRE_TIME }}" >> build/test/.env
      
      - name: Test
        run: make test.integration